.col-1{ width: calc( 100%/12) }
.col-2{ width: calc( 100%/11) }
.col-3{ width: calc( 100%/10) }
.col-4{ width: calc( 100%/9) }
.col-5{ width: calc( 100%/8) }
.col-6{ width: calc( 100%/7) }
.col-7{ width: calc( 100%/6) }
.col-8{ width: calc( 100%/5) }
.col-9{ width: calc( 100%/4) }
.col-10{ width: calc( 100%/3) }
.col-11{ width: calc( 100%/2) }
.col-12{ width: calc( 100%/1) }

.panel{
    margin: 0 auto;
    font-size: 16px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid skyblue;
    box-shadow: 1px 1px 1px silver;
}
label{
    display: block;
    padding: 5px 5px;
}

input[type="text"], input[type="email"],input[type="password"]{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ddd;
    width: 80%;
    height: 22px;
    margin-left: 10px;
}
input[type="text"]:focus, input[type="email"]:focus,input[type="password"]:focus{
    box-shadow: 0 0 5px rgba(245,137,111, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(245,137,111, 1);
    margin-left: 10px;
}
.btn{
    margin-top: 10px;
    width: 140px;
    height: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}
.btn-success{
    background: green;
    color: white;
    border: 1px solid green;
}
.btn-success:hover{
    background: darkgreen;
}
.btn-primary{
    background: blue;
    color: white;
    border: 1px solid blue;
}
.btn-primary:hover{
    background: #0000Fe;
}
